.toggle-view-container .special-text {
    font-size: 24px;
    font-weight: 400;
}
.toggle-view-container .special-text.on{
    color: #2f993c;
}
.toggle-view-container .special-text.off{
    color: #ef4056;
}
.toggle-view-container .toggle-count {
    align-self: flex-start;
    font-size: 36px;
    padding: 30px;
    color: rgba(0,0,0, 0.8);
}

.toggle-view-container{
    flex: 5;
}