.switch-view-container .special-text {
    font-size: 24px;
    font-weight: 400;
}
.switch-view-container .special-text.on{
    color: #2f993c;
}
.switch-view-container .special-text.off{
    color: #ef4056;
}
