/* duplicate styles as defined in styles tag in index.html, but w/e */
.app {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app .app-container {
  flex: 4;
}

.app .app-header {
  flex: 1;
  padding: 20px;
  color: #111;
}

.app .loading {
  font-size: 1.5em;
}